.resume{
    &__card{
        margin-top: 5%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__total{
        max-height: 5%;
        margin-top: 5%;
        display: flex;
        justify-content: center;
    }
}