.products__prices{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    &-price{
        p {
            font-size: 0.95rem;
            margin: -1%;
        }
    }
}