.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    &__header{
        width: 100%;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        hr {
            width: 40%;
            border-top: 2px solid black;
        }
        &-logo{
            height: 120px;
            width: 120px;
            border-radius: 50%;
            display: inline-block;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}