.dessertsmenu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1%;
    &__dessert{
        margin: 1%;
        img {
            border-radius: 5%;
        }
        &__prices{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
    }
}