.eltata{
    width: 100%;
    height: 100%;
    &__header{
        width: 100%;
    }
    &__content{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &-carousel{
            width: 100%;
        }
        &-menu{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        &-whereweare{
            margin-top: 5%;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}


@media screen and (max-width: 480px) {
    .eltata{
        &__content{
            &-carousel{
                display: none;
            }
        }
    }
}
